.mf-dialog-circle-div {
    height: 100px;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    padding-top: 35px;
}

.mf-dialog-padding {
    padding: 12px 24px;
    /*margin-inside: 0 24px;*/
}

.mf-dialog-item-padding {
    display: flex;
    justify-content: space-around;
}

.mf-position-relative {
    position: relative;
}

.mf-token-info .MuiInputBase-root {
    width: 160px;
}

.mf-token-amount {
    margin-left: 20px !important;
    flex-grow: 1;
}

.mf-token-address {
    flex-grow: 1;
    margin-top: 10px;
}

.mf-token-address input {
    cursor: not-allowed;
}

.mf-button-style-1 {
    margin: auto !important;
}

.mf-tipping-button {
    margin: auto !important;
}

.mf-balance-menu-item {
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.mf-match-parent-width {
    width: 100%;
    width: -moz-available;
    /*noinspection CssInvalidPropertyValue*/
    width: fill-available;
    /*noinspection CssInvalidPropertyValue*/
    width: -webkit-fill-available;
}